{%- assign sorted_areas = collections.location | sort: "data.eleventyNavigation.key" -%}
{%- assign filtered_areas = "" | split: "" -%}
{%- for area in sorted_areas -%}
  {%- assign url_segments = area.url | split: "/" -%}
  {%- comment -%}Only include top-level locations (e.g. /locations/name/ has 3 segments when split){%- endcomment -%}
  {%- if url_segments.size == 3 and area.url != page.url -%}
    {%- assign filtered_areas = filtered_areas | push: area -%}
  {%- endif -%}
{%- endfor -%}

{{ prefix }} {% for area in filtered_areas -%}
<a href="{{ area.url }}#content">
  {{- area.data.eleventyNavigation.key -}}
</a>
{%- unless forloop.last -%}{% if forloop.index == forloop.length | minus: 1 %} and {% else %},{% endif %}{% endunless -%}
{%- endfor %}{{ suffix }}
