<li>
  <a href="{{ category.url }}">
    {% if category.data.featured_image %}
      <img
        src="/images/{{ category.data.featured_image }}"
        alt=""
      >
    {% endif %}
    <h3>{{ category.data.title }}</h3>
  </a>

  <p>
    <a href="{{ category.url }}">
      {{ category.data.title }}:
    </a>
    {% if category.data.description -%}
      {{ category.data.description }}
    {%- endif -%}
  </p>

  {%- if show_subcategories -%}
    {%- assign subCategories = collections.category | where: "data.parent", category.fileSlug -%}
    {%- if subCategories.size > 0 -%}
      <h3>Subcategories:</h3>
      <ul class="items">
        {%- for subCategory in subCategories limit:4 -%}
          <li>
            <a href="{{ subCategory.url }}">
              {% if subCategory.data.featured_image %}
                <img
                  src="/images/{{ subCategory.data.featured_image }}"
                  alt=""
                />
              {% endif %}
              {{ subCategory.data.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endif -%}

  {%- if show_product_count -%}
    {%- assign categoryProducts = collections.product | getProductsByCategory: category.fileSlug -%}
    <p>
      {{ categoryProducts.size }}
      product{%- if categoryProducts.size != 1 -%}s{%- endif -%}
    </p>
  {%- endif -%}
</li>
