{%- if config.formspark_id and config.formspark_id != "" -%}
  <form
    id="contact-form"
    class="contact-form"
    action="https://submit-form.com/{{ config.formspark_id }}"
    {% if config.botpoison_public_key and config.botpoison_public_key != "" -%}
      data-botpoison-public-key="{{ config.botpoison_public_key }}"
    {%- endif -%}
  >
    <input type="hidden" name="_redirect" value="{{ site.url }}/thank-you" />
    <input type="hidden" name="_email.template.footer" value="false" />
    <input
      type="hidden"
      name="_email.from"
      value="{{ site.name }} contact form"
    />
    <input
      type="hidden"
      name="_email.subject"
      value="New message from {{ site.name }} website contact form"
    />
    {%- for field in contactForm.fields -%}
      {%- if field.showOn -%}
        {%- if field.showOn == "product" and tags contains "product" -%}
          {%- assign shouldShow = true -%}
        {%- elsif field.showOn == "event" and event_date or recurring_date or event_location -%}
          {%- assign shouldShow = true -%}
        {%- else -%}
          {%- assign shouldShow = false -%}
        {%- endif -%}
      {%- else -%}
        {%- assign shouldShow = true -%}
      {%- endif -%}
      {%- if shouldShow -%}
        <label for="{{ field.name }}">
          {{ field.label }}
          {%- if field.type == "textarea" -%}
            <textarea
              id="{{ field.name }}"
              name="{{ field.name }}"
              {%- if field.required %} required{%- endif %}
              rows="{% if field.rows %}{{ field.rows }}{% else %}6{% endif %}"
              placeholder="{% if field.showOn %}{{ title }}{% else %}{{ field.placeholder }}{% endif %}"
            >{% if field.showOn %}{{ title }}{% endif %}</textarea>
          {%- else -%}
            <input
              type="{% if field.type %}{{ field.type }}{% else %}text{% endif %}"
              id="{{ field.name }}"
              name="{{ field.name }}"
              placeholder="{{ field.placeholder }}"
              {%- if field.required %} required{%- endif %}
            />
          {%- endif -%}
        </label>
      {%- endif -%}
    {%- endfor -%}
    <button type="submit" class="btn primary-btn">{{ contactForm.submitButtonText }}</button>
  </form>
{%- else -%}
  <hr>
  <h3>Formspark ID Missing</h3>
  <p>
    You need to add a Formspark form ID to <code>src/_data/config.json</code>
  </p>
{%- endif -%}
