<h3>
  <a href="{{ event.url }}">{{ event.data.title }}</a>
</h3>
<p>
  <em>
    {% if event.data.recurring_date %}
      {{ event.data.recurring_date }}{% if event.data.event_location %} - {{ event.data.event_location }}{% endif %}
    {% elsif event.data.event_date %}
      {{ event.data.event_date | date: "%b %-d, %Y" }}{% if event.data.event_location %} - {{ event.data.event_location }}{% endif %}
    {% elsif event.data.event_location %}
      {{ event.data.event_location }}
    {% endif %}
  </em>
</p>