<ul class="socials">
  {%- for social in site.socials -%}
    {%- if social[1] -%}
      {%- assign social_key = social[0] | downcase -%}
      <li>
        <a
          href="{{ social[1] }}"
          title="{{ site.name }} on {{ social[0] }}"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="{{ social[0] }}"
        >
          {%- if social_icons[social_key] -%}
            {{ social_icons[social_key] | icon }}
          {%- else -%}
            {{ "icons/" | append: social_key | append: ".svg" | inline_asset }}
          {%- endif -%}
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
