<ul class="socials">
  {%- for social in site.socials -%}
    {%- if social[1] -%}
      <li>
        <a
          href="{{ social[1] }}"
          title="{{ site.name }} on {{ social[0] }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            width="48"
            height="48"
            src="/assets/icons/{{ social[0] | downcase }}.svg"
            alt="{{ social[0] }} logo"
          />
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
