<label for="{{ field.name }}"{% if field.fieldClass %} class="{{ field.fieldClass }}"{% endif %}>
  {{ field.label }}
  <select
    id="{{ field.name }}"
    name="{{ field.name }}"
    {%- if field.required %} required{%- endif %}
  >
    <option value="" disabled selected>Select an option</option>
    {%- for option in field.options -%}
      {%- assign optLabel = option.label | default: option -%}
      {%- assign optValue = option.value | default: optLabel -%}
      <option value="{{ optValue }}"{% if option.price %} data-price="{{ option.price }}"{% endif %}>{{ optLabel }}</option>
    {%- endfor -%}
  </select>
  {%- include "form-field-note.html" -%}
</label>
