<div class="current-image">
  {% assign first_image = gallery[0] %}
  {% image first_image, "", config.products.gallery_image_widths, "", "100vw" %}
</div>

<div aria-hidden="true" class="gallery-full-size-images">
  {%- for image in gallery -%}
    <div class="full-image-{{ forloop.index }}">
      {% image image, "", config.products.gallery_image_widths, "fade-in", "100vw" %}
    </div>
  {% endfor %}
</div>

{%- if gallery.size > 1 -%}
<ul id="gallery" class="image-gallery">
  {%- for image in gallery -%}
    <li>
      <a
        href="
          {%- if image[0] == "/" -%}
            {{- image -}}
          {%- else -%}
            /images/{{ image -}}
          {%- endif -%}
        "
        data-index="{{ forloop.index }}"
        class="image-link gallery-switcher"
      >
        <!-- once sizes="auto" is supported by Firefox, switch to that -->
        <figure>
          {% image image, "", config.products.gallery_thumb_widths, "", "(max-width: 798px) 33vw, 25vw" %}
        </figure>
      </a>
    </li>
  {%- endfor -%}
</ul>
{%- endif -%}
