{%- assign schemaType = "page" -%}
{%- if layout == "item.html" and tags and tags contains "product" -%}
  {%- assign schemaType = "product" -%}
{%- elsif layout == "item.html" and tags and tags contains "events" -%}
  {%- assign schemaType = "event" -%}
{%- elsif tags and tags contains "news" -%}
  {%- assign schemaType = "post" -%}
{%- elsif layout == "contact.html" -%}
  {%- assign schemaType = "organization" -%}
{%- elsif layout == "design-system-base.html" -%}
  {%- assign schemaType = "website" -%}
{%- endif -%}

{%- unless no_index -%}
  {% jsonLdScript metaComputed, schemaType, tags %}
{%- endunless -%}
