<head>
  {%- include "head-meta.html" -%}

  <link
    rel="stylesheet"
    href="{{ '/css/bundle.css' | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  <script
    type="module"
    src="{{ '/assets/js/bundle.js' | cacheBust }}"
  ></script>

  {%- if collections.news.size > 0 -%}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="News"
    >
  {%- endif -%}

  {%- include "head-schema.html" -%}

  {%- include "head-scripts.html" -%}
</head>
