<head>
  {%- include "head-meta.html" -%}

  {%- assign css_bundle = layout | getCssBundle: config.design_system_layouts -%}

  <link
    rel="stylesheet"
    href="{{ css_bundle | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  <script
    type="module"
    src="{{ '/assets/js/bundle.js' | cacheBust }}"
  ></script>

  {%- if collections.news.size > 0 -%}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml"
      title="News"
    >
  {%- endif -%}

  {%- include "head-schema.html" -%}

  {%- if freetobook_id and freetobook_token -%}
  <script async defer src="https://widget.freetobook.com/widget.js?v=20190925"></script>
  {%- endif -%}

  {%- include "head-scripts.html" -%}
</head>
