{%- if items.size > 0 -%}
{%- assign firstItemTags = items[0].data.tags -%}
{%- assign isReviewCollection = false -%}
{%- if firstItemTags contains "reviews" -%}
  {%- assign isReviewCollection = true -%}
{%- endif -%}
{%- if isReviewCollection -%}
  {%- assign reviews = items -%}
  {%- assign product_links = true -%}
  {%- include "reviews-list.html" -%}
{%- else -%}
{%- if horizontal -%}
<div class="slider-container">
  <ul class="items slider">
{%- elsif masonry -%}
<ul class="items masonry">
{%- else -%}
<ul class="items">
{%- endif -%}
  {%- assign cacheKeySuffix = listItemFields | join: "," -%}
  {%- for item in items -%}
    {%- assign cacheKey = item.url | append: "|" | append: cacheKeySuffix -%}
    {%- cachedBlock cacheKey -%}{%- include "list-item.html" -%}{%- endcachedBlock -%}
  {%- endfor -%}
</ul>
{%- if horizontal -%}
  {% include "slider-nav.html" %}
</div>
{%- endif -%}
{%- if masonry -%}
<script type="module" src="{{ '/assets/js/masonry.js' | cacheBust }}"></script>
{%- endif -%}
{%- endif -%}
{%- endif -%}
