{%- assign reviewsField = nil -%}
{%- if tags and tags contains "product" -%}
  {%- assign reviewsField = "products" -%}
{%- elsif tags and tags contains "property" -%}
  {%- assign reviewsField = "properties" -%}
{%- endif -%}
{%- if reviewsField -%}
  {% assign reviews = collections.reviews | getReviewsFor: page.fileSlug, reviewsField %}
  {% assign rating = collections.reviews | getRating: page.fileSlug, reviewsField %}
  {%- if rating -%}
    <p id="reviews-count"><a href="#reviews">{{ rating | ratingToStars }} after {{ reviews.size }} reviews</a></p>
  {%- endif -%}
{%- endif -%}
