{%- if reviewsField -%}
  {% assign reviews = collections.reviews | getReviewsFor: page.fileSlug, reviewsField %}
  {%- if reviews.size > 0 -%}
    <h2 id="reviews">Reviews</h2>
    {% assign limit = config.reviews_truncate_limit %}
    {%- if limit != -1 and reviews.size > limit -%}
      {% assign reviews = reviews | slice: 0, limit %}
      {% include "reviews-list.html" %}
      <p><a href="{{ page.url }}reviews/">See all reviews</a></p>
    {%- else -%}
      {% include "reviews-list.html" %}
    {%- endif -%}
  {%- endif -%}
  {%- if tags contains "product" -%}
    {%- include "etsy-buy-button.html" -%}
  {%- endif -%}
{%- endif -%}
