{%- if items.size > 0 -%}
{%- assign widths = config.products.item_widths -%}
{%- assign show_cart_buttons = cart_mode -%}

{%- if horizontal -%}
<div class="slider-container">
  <ul class="items slider">
{%- else -%}
<ul class="items">
{%- endif -%}
  {%- for item in items -%}
    {%- include "list-item.html", show_cart_buttons: show_cart_buttons -%}
  {%- endfor -%}
</ul>
{%- if horizontal -%}
  <p class="slider-nav" aria-hidden="true">
    <a href="#" class="slider-prev">&larr;</a>
    <a href="#" class="slider-next">&rarr;</a>
  </p>
</div>
{%- endif -%}
{%- endif -%}
