{%- assign widths = config.products.item_widths -%}

{%- if horizontal -%}
<div class="slider-container">
  <ul class="items slider">
{%- else -%}
<ul class="items">
{%- endif -%}
  {%- for item in items -%}
    {%- include "list-item.html" -%}
  {%- endfor -%}
</ul>
{%- if horizontal -%}
  <p class="slider-nav">
    <a href="#" class="slider-prev" aria-label="Previous">left</a>
    <span class="slider-nav-divider">|</span>
    <a href="#" class="slider-next" aria-label="Next">right</a>
  </p>
</div>
{%- endif -%}
