<li>
  {%- assign fields = config | getListItemFields -%}
  {%- for field in fields -%}
    {%- case field -%}
      {%- when "thumbnail" -%}
        {%- include "list-item-thumbnail.html" -%}
      {%- when "link" -%}
        {%- include "list-item-link.html" -%}
      {%- when "price" -%}
        {%- include "list-item-price.html" -%}
      {%- when "date" -%}
        {%- include "list-item-date.html" -%}
      {%- when "subtitle" -%}
        {%- include "list-item-subtitle.html" -%}
      {%- when "location" -%}
        {%- include "list-item-location.html" -%}
      {%- when "event-date" -%}
        {%- include "list-item-event-date.html" -%}
      {%- when "cart-button" -%}
        {%- include "list-item-cart-button.html" -%}
    {%- endcase -%}
  {%- endfor -%}
</li>
