<li>
  {%- if item.data.thumbnail -%}
    <a class="image-link" href="{{ item.url }}#content">
      {%- image item.data.thumbnail, item.data.title, widths -%}
    </a>
  {%- endif -%}

  <h3>
    <a href="{{- item.url -}}#content">{{ item.data.title }}</a>
  </h3>

  {%- if item.data.price -%}
    <p>{{ item.data.price }}</p>
  {%- endif -%}

  {%- if item.data.date -%}
    <p><strong>{{ item.data.date | date: "%b %-d, %Y" }}</strong></p>
  {%- endif -%}

  {%- if item.data.subtitle -%}
    <p>{{ item.data.subtitle }}</p>
  {%- endif -%}

  {%- if item.data.event_location -%}
    <p><strong>Location:</strong> {{ item.data.event_location }}</p>
  {%- endif -%}

  {%- if item.data.recurring_date or item.data.event_date -%}
    <p>
      <strong>Date:</strong>
      {{ item.data.recurring_date | default: item.data.event_date | date: "%b %-d, %Y" }}
    </p>
  {%- endif -%}

  {%- if show_cart_buttons -%}
    {%- include "list-item-cart-button.html" -%}
  {%- endif -%}
</li>
