{%- if item.data.thumbnail -%}
  <a class="image-link" href="{{ item.url }}#content" aria-hidden="true" tabindex="-1">
    {%- image item.data.thumbnail, "", widths, "", "", config.products.item_list_aspect_ratio -%}
  </a>
{%- elsif config.placeholder_images -%}
  {%- assign placeholderPath = item.url | thumbnailPlaceholder -%}
  <a class="image-link" href="{{ item.url }}#content" aria-hidden="true" tabindex="-1">
    {%- image placeholderPath, "", widths, "", "", config.products.item_list_aspect_ratio -%}
  </a>
{%- endif -%}
