{%- if gallery and gallery.size > 0 -%}
<div class="property-gallery">
  {% include "gallery-current-image.html" %}
  {% include "gallery-full-size-images.html" %}

  {%- if gallery.size > 1 -%}
  <div class="slider-container property-thumbnails">
    <ul id="gallery" class="image-gallery slider">
      {%- for image in gallery -%}
        {%- capture alt_text -%}{%- include "get-alt-text.html" -%}{%- endcapture -%}
        {% include "gallery-thumbnail.html" %}
      {%- endfor -%}
    </ul>
    <p class="slider-nav" aria-hidden="true">
      <a href="#" class="slider-prev">&larr;</a>
      <a href="#" class="slider-next">&rarr;</a>
    </p>
  </div>
  {%- endif -%}
</div>
{%- endif -%}
