{%- unless events -%}
  {%- assign events = collections.recurringEvents -%}
{%- endunless -%}
{%- if events.length > 0 -%}
<ul>
  {%- for event in events -%}
  {%- assign event_data = event.data -%}
  <li>
    <strong><a href="{{ event.url }}{%- if config.navigation_content_anchor -%}#content{%- endif -%}">{{ event_data.title }}</a></strong
    ><br />
    {{ event_data.recurring_date }}
    {%- if event_data.event_location -%}
    <br />{{ event_data.event_location }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
