<li>
  <blockquote>
    {{- review.content -}}
    <footer>
    {%- if review.data.url -%}
      <a
        href="{{ review.data.url }}"
        rel="nofollow"
      >
        {{- review.data.name -}}
      </a>
    {%- else -%}
      {{- review.data.name -}}
    {%- endif -%}

    {%- if product_links and review.data.products.size > 0 -%}
      <br>
      {{ review.data.products | linkList: collections.products }}
    {%- endif %}
    {%- if review.data.thumbnail -%}
      <img src="{{ review.data.thumbnail }}" alt="" class="reviewer-avatar" width="40" height="40" loading="lazy">
    {%- elsif review.data.name -%}
      <img src="{{ review.data.name | reviewerAvatar }}" alt="" class="reviewer-avatar" width="40" height="40">
    {%- endif -%}
    </footer>
  </blockquote>
</li>
