{%- if tabs.size > 0 -%}
  <section id="tabs">
    <ul>
      {%- for tab in tabs -%}
        <li class="tab">
          <a
            href="#tab-{{ forloop.index }}"
            data-turbo="false"
          >
            {{- tab.title -}}
          </a>
        </li>
        <li
          class="body"
          id="tab-{{ forloop.index }}"
        >
          {%- if tab.image -%}
            {% image tab.image, tab.title, "240,480,640", "", "", "1/1" %}
          {%- endif -%}
          <div class="tab-content">
            {{- tab.body | renderContent: "md" -}}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </section>
{%- endif -%}
