<li class="{%- if person.data.image -%} has-image {%- endif -%}">
  {%- if person.url -%}
  <a class="image-link" href="{{ person.url }}#content">
    {%- if person.data.image -%} {% image person.data.image, person.data.title,
    "240,480,640" %} {%- endif -%}
  </a>
  <a href="{{ person.url }}#content"> {{- person.data.title -}} </a>
  {%- else -%} {%- if person.data.image -%} {% image person.data.image,
  person.data.title, "240,480,640" %} {%- endif -%} {{- person.data.title -}}
  {%- endif -%} {%- if person.data.snippet -%}
  <br />
  {{- person.data.snippet -}} {%- endif -%}
</li>
