<template id="{{ selectors.IDS.CART_ITEM }}">
  <div class="{{ selectors.CART_ITEM.CONTAINER }}" data-name="">
    <div class="cart-item-info">
      <div class="{{ selectors.CART_ITEM.NAME }}"></div>
      <div class="{{ selectors.CART_ITEM.PRICE }}"></div>
    </div>
    <div class="cart-item-controls">
      {% include "templates/quantity-controls.html" %}
      <button class="{{ selectors.CART_ITEM.REMOVE }}" data-name="">Remove</button>
    </div>
  </div>
</template>

<template id="{{ selectors.IDS.QUOTE_CART_ITEM }}">
  <div class="{{ selectors.QUOTE_CART_ITEM.CONTAINER }}" data-name="">
    <div class="quote-cart-item-info">
      <span class="{{ selectors.QUOTE_CART_ITEM.NAME }}"></span>
      <span class="{{ selectors.QUOTE_CART_ITEM.PRICE }}"></span>
    </div>
    <p class="{{ selectors.QUOTE_CART_ITEM.SPECS }}"></p>
    <div class="quote-cart-item-controls">
      {% include "templates/quantity-controls.html" %}
      <button class="{{ selectors.QUOTE_CART_ITEM.REMOVE }}" data-name="">Remove</button>
    </div>
  </div>
</template>

<template id="{{ selectors.IDS.QUOTE_CHECKOUT_ITEM }}">
  <div class="{{ selectors.QUOTE_CHECKOUT_ITEM.CONTAINER }}">
    <span class="{{ selectors.QUOTE_CHECKOUT_ITEM.NAME }}"></span>
    <span class="{{ selectors.QUOTE_CHECKOUT_ITEM.QTY }}"></span>
    <span class="{{ selectors.QUOTE_CHECKOUT_ITEM.PRICE }}"></span>
  </div>
</template>
