{%- comment -%}
Renders a single block by type. Used by blocks.html.
{%- endcomment -%}

{%- case block.type -%}

  {%- when "section-header" -%}
    {%- include "design-system/section-header.html", block: block -%}

  {%- when "features" -%}
    {%- include "design-system/features.html", block: block -%}

  {%- when "image-cards" -%}
    {%- include "design-system/image-cards.html", block: block -%}

  {%- when "stats" -%}
    {%- include "design-system/stats.html", block: block -%}

  {%- when "code-block" -%}
    {%- include "design-system/code-block.html", block: block -%}

  {%- when "hero" -%}
    {%- include "design-system/hero.html", block: block -%}

  {%- when "split" -%}
    {%- include "design-system/split.html", block: block -%}

  {%- when "split-full" -%}
    {%- include "design-system/split-full.html", block: block -%}

  {%- when "cta" -%}
    {%- include "design-system/cta.html", block: block -%}

  {%- when "markdown" -%}
    <div class="prose">{{ block.content | renderContent: "md" }}</div>

  {%- when "html" -%}
    {{ block.content }}

  {%- when "video-background" -%}
    {%- include "design-system/video-background.html", block: block -%}

  {%- when "image-background" -%}
    {%- include "design-system/image-background.html", block: block -%}

  {%- when "contact_form" -%}
    {%- include "design-system/contact-form-block.html", block: block -%}

  {%- when "content" -%}
    {%- include "design-system/content-block.html" -%}

  {%- when "include" -%}
    {%- include block.file -%}

  {%- when "properties" -%}
    {%- include "design-system/properties-block.html" -%}

  {%- when "items" -%}
    {%- include "design-system/items-block.html", block: block -%}

  {%- when "guide-categories" -%}
    {%- include "design-system/guide-categories-block.html" -%}

  {%- when "link-button" -%}
    {%- include "design-system/link-button.html", block: block -%}

{%- endcase -%}
