<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="
  {{- layout | replace: ".html", "" }}
  {% if config.sticky_mobile_nav %}
    sticky-mobile-nav
  {% endif %}
  {% if config.horizontal_nav %}
    horizontal-nav
  {% else %}
    left-nav
  {% endif %}
  {% if "src/snippets/right-content.md" | file_exists -%}
    two-columns
  {% else -%}
    one-column
  {% endif %}
">
  {%- include "header.html" -%}
  <main>
    {%- include "navigation.html" -%}
    <article class="content" id="content">
      {{- content -}}
      {%- include "faq.html" -%}
    </article>
    {%- if "src/snippets/right-content.md" | file_exists -%}
      <article class="right">
        {%- render_snippet "right-content" -%}
      </article>
    {%- endif -%}
  </main>
  {%- include "footer.html" -%}
  {%- include "theme-switcher.html" -%}
  {%- if config.cart_mode -%}
    {%- include "cart-icon.html" -%}
    {%- if config.cart_mode == "paypal" or config.cart_mode == "stripe" -%}
      {%- include "cart-overlay.html" -%}
    {%- endif -%}
  {%- endif -%}
  {%- include "availability-calendar.html" -%}
  {%- include "image-popup.html" -%}
</body>
</html>
