<!DOCTYPE html>
<html lang="en">
<head>
  {%- include "head-meta.html" -%}

  <link
    rel="stylesheet"
    href="{{ '/css/design-system-bundle.css' | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  <script
    type="module"
    src="{{ '/assets/js/bundle.js' | cacheBust }}"
  ></script>

  {%- include "head-schema.html" -%}
</head>
<body class="design-system {{ layout | getBodyClasses: config }}">
  {%- unless no_navigation -%}
    {%- include "navigation.html" -%}
  {%- endunless -%}
  <main>
    {%- if blocks -%}
      {%- include "design-system/blocks.html", blocks: blocks -%}
    {%- else -%}
      {{- content -}}
    {%- endif -%}
  </main>
  {%- include "design-system/footer.html" -%}
  {%- include "image-popup.html" -%}
  {%- include "theme-switcher.html" -%}
  {%- include "cart-icon.html" -%}
  {%- include "cart-overlay.html" -%}
</body>
</html>
