<!DOCTYPE html>
<html lang="en">
<head>
  {%- include "head-meta.html" -%}

  <link
    rel="stylesheet"
    href="{{ '/css/design-system-bundle.css' | cacheBust }}"
  >

  {%- include "js-config-script.html" -%}

  <script
    type="module"
    src="{{ '/assets/js/bundle.js' | cacheBust }}"
  ></script>

  {%- include "head-schema.html" -%}
</head>
<body class="{{ layout | getBodyClasses: config.design_system_layouts, true, config.sticky_mobile_nav, config.horizontal_nav, false }}{% if body_class %} {{ body_class }}{% endif %}">
  {%- unless no_navigation -%}
    {%- include "navigation.html" -%}
  {%- endunless -%}
  {%- if blocks -%}
  <main>
    {%- include "design-system/blocks.html", blocks: blocks -%}
  </main>
  {%- endif -%}
  {{- content -}}
  {%- include "design-system/footer.html" -%}
  {%- include "theme-switcher.html" -%}
  {%- include "cart-icon.html" -%}
  {%- include "cart-overlay.html" -%}
</body>
</html>
