---
layout: base
---

{{ content }}

{% if categorisedEvents.upcoming.size > 0 %}
  <h2>Upcoming {{ strings.event_name }}</h2>
  {%- include "items.html", items: categorisedEvents.upcoming -%}
{% endif %}

{% if categorisedEvents.regular.size > 0 %}
  <h2>Regular {{ strings.event_name }}</h2>
  {%- include "items.html", items: categorisedEvents.regular -%}
{% endif %}

{% if categorisedEvents.past.size > 0 %}
  {% if categorisedEvents.upcoming.size > 0 or categorisedEvents.regular.size > 0 %}
    <hr>
  {% endif %}
  <h2>Past {{ strings.event_name }}</h2>
  {%- include "items.html", items: categorisedEvents.past -%}
{% endif %}

{% if categorisedEvents.undated.size > 0 %}
  {%- include "items.html", items: categorisedEvents.undated -%}
{% endif %}