---
layout: base.html
---

{{ content }}

{% if categorisedEvents.regular.size == 0 %}
  <h2>Upcoming Events</h2>
  
  {% if categorisedEvents.upcoming.size > 0 %}
    {% for event in categorisedEvents.upcoming %}
      {% include "event-list-item.html" %}
    {% endfor %}
  {% else %}
    <p>No upcoming events scheduled. Check back soon!</p>
  {% endif %}
  
  <hr>
  
  <h2>Past Events</h2>
  
  {% if categorisedEvents.past.size > 0 %}
    {% for event in categorisedEvents.past %}
      {% include "event-list-item.html" %}
    {% endfor %}
  {% else %}
    <p>No past events to display.</p>
  {% endif %}
{% else %}
  <h2>Regular Events</h2>
  
  {% for event in categorisedEvents.regular %}
    {% include "event-list-item.html" %}
  {% endfor %}
  
  {% if categorisedEvents.past.size > 0 %}
    <hr>
    
    <h2>Past Events</h2>
    
    {% for event in categorisedEvents.past %}
      {% include "event-list-item.html" %}
    {% endfor %}
  {% endif %}
{% endif %}