---
layout: base.html
---

{{ content }}

{% unless categorisedEvents.hasOnlyRegular %}
  <h2>Upcoming Events</h2>
  
  {% if categorisedEvents.upcoming.size > 0 %}
    {% for event in categorisedEvents.upcoming %}
      {% include "event-list-item.html" %}
    {% endfor %}
  {% else %}
    <p>No upcoming events scheduled. Check back soon!</p>
  {% endif %}
{% endunless %}

{% if categorisedEvents.regular.size > 0 %}
  {% unless categorisedEvents.hasOnlyRegular %}
    <hr>
  {% endunless %}
  
  <h2>Regular Events</h2>
  
  {% for event in categorisedEvents.regular %}
    {% include "event-list-item.html" %}
  {% endfor %}
{% endif %}

{% unless categorisedEvents.hasOnlyRegular %}
  <hr>
  
  <h2>Past Events</h2>
  
  {% if categorisedEvents.past.size > 0 %}
    {% for event in categorisedEvents.past %}
      {% include "event-list-item.html" %}
    {% endfor %}
  {% else %}
    <p>No past events to display.</p>
  {% endif %}
{% endunless %}