---
layout: base
---

{% assign guide_pages = collections.guide_pages | getGuidePagesByCategory: page.fileSlug %}

<h1>{{ title }}</h1>

<p><a href="/{{ strings.guide_permalink_dir }}/">Back to {{ strings.guide_name }}</a></p>

{{ content }}

{% if guide_pages.size > 0 %}
  <h2>Articles</h2>
  <ul>
    {%- for guide_page in guide_pages -%}
      <li>
        <a href="{{ guide_page.url }}">{{ guide_page.data.title }}</a>
        {%- if guide_page.data.subtitle -%}
          <p>{{ guide_page.data.subtitle }}</p>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{% endif %}
