---
layout: base
---

{{ content }}

{%- assign menus = collections.menus -%}
{%- if homepage.show_menus and menus.size > 0 -%}
  <hr />
  {%- render_snippet "homepage-menus-header", "<h3>Our Menus</h3>" -%}
  {%- include "items.html", items: menus -%}
{%- endif -%}

{%- if homepage.show_news and collections.news.size > 0 -%}
  <hr />
  {%- render_snippet "homepage-news-header", "<h3>Latest Posts</h3>" -%}

  {%- assign all_have_images = collections.news | allNewsHaveImages -%}

  {%- if all_have_images -%}
    {%- assign posts = collections.news | slice: 0, 2 -%}
    {%- include "items.html", items: posts -%}
  {%- else -%}
    {% include "news-post-list.html", limit: 2 %}
  {%- endif -%}
{%- endif -%}

{%- if homepage.show_products and collections.featuredCategories.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-categories-header", "<h3>Product Categories</h3>" -%}
  {%- include "items.html", items: collections.featuredCategories -%}
{%- endif -%}

{%- if homepage.show_featured_products and collections.featuredProducts.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-products-header", "<h3>Featured Products</h3>" -%}
  {%- include "items.html", items: collections.featuredProducts -%}
{%- endif -%}

{%- if homepage.show_featured_events and collections.featuredEvents.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-featured-events-header", "<h3>Featured Events</h3>" -%}
  {%- include "items.html", items: collections.featuredEvents -%}
{%- endif -%}

{%- if homepage.show_recurring_events and collections.recurringEvents.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-events-header", "<h3>Regular Events</h3>" -%}
  {% include "recurring-events-list.html" %}
{%- endif -%}

{%- if homepage.show_featured_properties and collections.featuredProperties.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-properties-header", "<h3>Featured Properties</h3>" -%}
  {%- include "items.html", items: collections.featuredProperties -%}
{%- endif -%}

{%- assign latest_reviews = collections.reviews | slice: 0, homepage.reviews_limit -%}
{%- if homepage.show_reviews and latest_reviews.size > 0 -%}
  <hr>
  {%- render_snippet "homepage-reviews-header", "<h3>Recent Reviews</h3>" -%}
  {%- include "reviews-list.html", reviews: latest_reviews, product_links: true -%}
{%- endif -%}
