---

layout: base
---

<section id="item">
  <div class="title">
    {% include "item-title.html" %}
    {% include "item-event-details.html" %}
  </div>

  {% if gallery_template %}
    {% include gallery_template %}
  {% else %}
    {% include "item-gallery.html" %}
  {% endif %}

  <div class="description">
    {% include "item-reviews-count.html" %}
    {% include "product-options.html" %}
    {% include "item-about-heading.html" %}
    {% include "item-category-links.html" %}
    {% include "item-event-categories.html" %}
    {% include "etsy-buy-button.html" %}
    {{ content }}
    {% include "tabs.html" %}
    {% include "item-map-section.html" %}
    {% include "item-features-list.html" %}
    {% include "item-specifications-list.html" %}
    {% include "item-reviews-section.html" %}
    {%- include "faq.html" -%}
  </div>
  {% include "item-event-products.html" %}
  {% include "item-contact-section.html" %}
</section>
