---

layout: base
---

<section id="item">
  <div class="title">
    {% include "item-title.html" %}
    {% include "item-event-details.html" %}
  </div>

  {% include "item-gallery.html" %}

  <div class="description">
    {% include "item-reviews-count.html" %}
    {% include "hire-pricing-table.html" %}
    {% include "product-options.html" %}
    {% include "item-event-categories.html" %}
    {% include "purchase-button.html" %}
    {% include "tabs.html" %}
    {% include "item-map-section.html" %}
    {% include "product-add-ons.html" %}
    <div class="design-system">
      <div class="prose">{{ content }}</div>
      {% include "item-features-list.html" %}
      {% include "item-specifications-list.html", highlights: true %}
      {% include "item-reviews-section.html" %}
    </div>
    {%- include "faq.html" -%}
  </div>
  {% include "item-event-products.html" %}
  {% include "item-contact-section.html" %}
</section>
