---
layout: base
---

{{ content }}

{%- assign posts = collections.news -%}

{%- if posts.size > 0 -%}
  <div class="design-system">
  <ul class="image-cards">
    {%- for post in posts -%}
      {%- if post.data.authorSlug -%}
        {%- assign postAuthor = collections.team | where: "fileSlug", post.data.authorSlug | first -%}
      {%- else -%}
        {%- assign postAuthor = nil -%}
      {%- endif -%}

      <li>
        <article data-reveal>
          {%- if post.data.header_image -%}
            <a href="{{ post.url }}#content">
              <figure>
                {%- image post.data.header_image, post.data.header_text, "300, 400, 600, 800", "", "", "16/9" -%}
              </figure>
            </a>
          {%- endif -%}
          <header>
            <h3>
              <a href="{{ post.url }}#content">{{ post.data.header_text | escape }}</a>
            </h3>
            <p>
              <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
              {%- if postAuthor %} · {{ postAuthor.data.title }}{%- endif -%}
            </p>
          </header>
          {%- if post.data.subtitle and post.data.subtitle != "" -%}
            <p>{{ post.data.subtitle | escape }}</p>
          {%- endif -%}
        </article>
      </li>
    {%- endfor -%}
  </ul>
  </div>
{%- else -%}
  <p>No news articles yet. Check back soon!</p>
{%- endif -%}
