---
layout: base
---

<h2>
  <a href="/{{ strings.news_permalink_dir }}/">News</a>
  &rsaquo;
  {{ subtitle | escape }}
</h2>
<p>
  <em>{{ page.date | date: "%b %-d, %Y" }}</em>
  {%- if authorSlug -%}
    {%- assign authorData = collections.team | where: "fileSlug", authorSlug | first -%}
    {%- if authorData -%}
      &middot; <a href="{{ authorData.url }}">{{ authorData.data.title }}</a>
    {%- endif -%}
  {%- endif -%}
</p>

{{ content }}

{% if gallery %}
  {% for image in gallery %}
    {%- capture alt_text -%}{%- include "get-alt-text.html" -%}{%- endcapture -%}
    {% image image, alt_text, config.products.gallery_image_widths, "", "100vw" %}
  {% endfor %}
{% endif %}
