---
layout: base.html
---

<h1>{{ title }}</h1>

{%- if short_description -%}
  <h2>{{ short_description }}</h2>
{%- endif -%}

{%- if gallery.size > 0 -%}
  <h2>Gallery</h2>
  {% include "gallery.html" %}
{%- endif -%}

<h2>About</h2>

{%- if categories.size > 0 -%}
  <p>
    <strong>Categories:</strong>
    {% for slug in categories -%}
      {%- assign category = collections.category | where: "fileSlug", slug | first -%}
      {%- if category -%}
        <a href="{{ category.url }}/">
          {{ category.data.title }}
        </a>{%- unless forloop.last -%}, {% endunless -%}
      {%- endif -%}
    {%- endfor -%}
  </p>
{%- endif -%}

{{ content }}

{%- if features -%}
  <h2>Features</h2>
  <ul class="product-features">
    {%- for feature in features -%}
      <li>{{ feature }}</li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{%- if specs -%}
  <h2>Specifications</h2>
  <dl class="product-specs">
    {%- for spec in specs -%}
      <dt>{{ spec.name }}</dt>
      <dd>{{ spec.value }}</dd>
    {%- endfor -%}
  </dl>
{%- endif -%}

<h2>Get in Touch<h2>

{% include "contact-form.html" %}
