---
layout: base
---

<section id="item">
  <div class="title">
    {% include "item-title.html" %}
  </div>

  {% include "property-gallery.html" %}

  <div class="description">
    {% include "item-reviews-count.html" %}
    {% include "item-about-heading.html" %}
    {% include "item-category-links.html" %}
    {{ content }}
    {% include "tabs.html" %}
    {% include "item-map-section.html" %}
    {% include "item-features-list.html" %}
    {% include "item-specifications-list.html" %}
    {% include "item-reviews-section.html" %}
    {%- include "faq.html" -%}
  </div>
  {% include "item-contact-section.html" %}
</section>
