img,
.image-wrapper {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;

  overflow: hidden;
  display: block;

  border-radius: var(--border-radius-small);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  img {
    background-color: transparent;
  }
}
