// Default values for optional theme variables
// Theme files can optionally configure these via:
//   @use "theme-defaults" with ($scroll-fade-selectors: ".my-selector");
//
// If a theme doesn't configure this, scroll-fade will be disabled (null default).

$scroll-fade-selectors: null !default;
