ul#guide-categories {
  padding: 0;
  list-style-type: none;

  li {
    position: relative;
    padding-left: 6rem;

    svg {
      position: absolute;
      top: 0;
      left: 0;

      width: 4rem;
      height: 4rem;
    }
  }
}
