nav {
  box-shadow: var(--box-shadow);
  ul {
    list-style-type: none;
    padding: 0;
    ul {
      padding-left: 1rem;
      font-size: smaller;
    }
  }
  a {
    color: var(--nav-link-color);
    &.active,
    &:has(+ ul a.active) {
      color: var(--nav-link-active-color);
    }
  }
}

@media (max-width: 768px) {
  html:has(body.sticky-mobile-nav) {
    scroll-padding-top: 5rem;
  }
  body.sticky-mobile-nav {
    padding-top: 5rem;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      border-radius: 0;
      width: 100%;
      z-index: 1000;
      background: var(--nav-bg-color);
      padding: 0.5rem;
      height: 3rem;

      .toggle {
        display: none;
        &:checked ~ ul {
          right: 0;
        }
        &:checked ~ .toggle-label span {
          background: transparent;
          &::before {
            transform: rotate(45deg);
            top: 0;
          }
          &::after {
            transform: rotate(-45deg);
            top: 0;
          }
        }
      }

      .toggle-label {
        display: block !important;
        position: absolute !important;
        right: 1rem !important;
        top: 50% !important;
        transform: translateY(-50%);
        z-index: 1000;
        height: 24px;
        width: 30px;
        cursor: pointer;

        span,
        span::before,
        span::after {
          display: block;
          background: var(--nav-text-color);
          height: 2px;
          width: 30px;
          position: absolute;
          transition: all 0.3s ease;
        }

        span {
          top: 11px;

          &::before,
          &::after {
            content: "";
          }

          &::before {
            top: -8px;
          }

          &::after {
            top: 8px;
          }
        }
      }

      & > ul {
        position: fixed;
        background: var(--nav-bg-color);
        top: 0;
        right: -100%; /* Start off-screen */
        bottom: 0;
        width: 70%;
        overflow-x: scroll;
        max-width: 300px;
        flex-direction: column;
        padding: 4rem 1rem 1rem 1rem;
        transition: right 0.3s ease-in-out;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .toggle-label {
          display: block;
        }

        li {
          text-align: right;
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .toggle-label {
    display: none !important;
  }
  body {
    &.left-nav {
      nav {
        align-items: start;
        margin-bottom: 1rem;
        ul {
          display: flex;
          gap: 1rem;
          flex-direction: column;
        }
        ul,
        ul li {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;
          box-sizing: border-box;
        }
        ul li ul {
          padding-left: 1rem;
          font-size: 1rem;
        }
      }
    }
    &.horizontal-nav {
      nav {
        margin-bottom: 1rem;
        justify-content: center;
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          gap: 0 2rem;
          flex-wrap: wrap;
          li {
            text-align: left;
            position: relative;
            /* Nav Dropdown */
            &:hover ul {
              display: block;
            }
            ul {
              background: var(--nav-bg-color);
              border: var(--nav-border);
              border-radius: var(--border-radius);
              box-shadow: var(--box-shadow);
              display: none;
              height: auto;
              left: -2px;
              padding: 0.5rem 1rem;
              position: absolute;
              top: 1.7rem;
              white-space: nowrap;
              width: auto;
              z-index: 1;
              box-shadow: none;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -0.5rem;
                height: 0.5rem;
              }
              li,
              li a {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
