@use "breakpoints";
@use "nav-mixins" as nav;

nav {
  @include nav.nav-base;

  .nav-thumbnails {
    @include nav.nav-thumbnails;
  }
}

@include breakpoints.down("md") {
  html:has(body.sticky-mobile-nav) {
    scroll-padding-top: 5rem;
  }
  body.sticky-mobile-nav {
    padding-top: 5rem;

    nav {
      @include nav.nav-sticky-bar;

      .toggle {
        @include nav.nav-toggle-checkbox;
      }

      .toggle-label {
        @include nav.nav-toggle-label;
      }

      & > ul {
        @include nav.nav-mobile-menu;
      }
    }
  }
}

@include breakpoints.down("md") {
  body.sticky-mobile-nav nav:has(.mobile-menu-toggle) {
    @include nav.nav-submenu-toggle;
  }
}

@include breakpoints.up("md") {
  .toggle-label {
    display: none !important;
  }
  .mobile-menu-toggle {
    display: none !important;
  }
  body {
    &.left-nav {
      nav {
        @include nav.nav-left;
      }
    }
    &.horizontal-nav {
      nav {
        @include nav.nav-horizontal-dropdown;
      }
    }
  }
}
