#tabs {
  margin: 2rem 0;
  & > ul {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    list-style-type: none;
    gap: 0.5rem;
    height: 20rem;
    padding-bottom: 17rem;
    position: relative;

    .tab {
      grid-row: 1;
      padding: 0;
      a {
        padding: 0.5rem 1rem;
        &:hover {
          background: var(--color-bg);
        }
      }
    }
    .body {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 17rem;
      display: none;
      overflow-y: scroll;
      &:target {
        display: block;
      }
    }
    &:not(:has(.body:target)) .body:nth-of-type(2) {
      display: block;
    }
  }
}
