#tabs {
  margin: 2rem 0;

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;

    a {
      padding: 0.5rem 1rem;
      &:hover,
      &.active {
        background: var(--color-bg);
      }
    }
  }

  > div {
    display: none;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;

    &.active {
      display: flex;
    }

    > .image-wrapper {
      flex-shrink: 0;
      max-width: 387px;
    }

    > div {
      flex: 1;
      min-width: 0;
    }
  }
}
