:root {
  --color-bg: #241f31;
  --color-text: #9a9996;
  --color-link: #f6f5f4;
  --border: 2px solid #58648c;
  --box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  --font-family-body: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: dashed;
  --header-text-color: #ffffff;
  --form-button-border: 2px solid #58648c;
  --form-button-hover-border: 2px solid #ffffff;
}

// Scroll fade-in: elements that fade in as they scroll into view
$scroll-fade-selectors: ".items > li";

/* body_classes: header-centered-dark */
