@use "../variables" as *;
@use "../mixins" as *;
@use "../breakpoints" as breakpoint;

// =============================================================================
// CONTACT FORM BLOCK (text left, form right)
// =============================================================================

.design-system {
  .contact-form-block {
    @include grid(1, $space-2xl);
    align-items: center;

    @include breakpoint.up("md") {
      @include grid(2, $space-3xl);
    }
  }

  .contact-form-block__text {
    text-align: center;
  }

  .contact-form-block__form {
    width: 100%;
  }
}
