@use "../variables" as *;
@use "../mixins" as *;
@use "../breakpoints" as breakpoint;

// =============================================================================
// FOOTER
// =============================================================================

.design-system {
  footer {
    @include section-compact;
    @include section;
    @include dark-section-vars;
    color: $color-dark-text-muted;
    text-align: center;

    a {
      color: $color-dark-link;
      &:hover {
        color: $color-white;
      }
    }

    p {
      margin: 0 0 $space-sm;
    }

    .socials {
      @include flex-row($space-lg, center, center);
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0 0 $space-md;
    }
  }
}
