@use "../variables" as *;
@use "../mixins" as *;
@use "../breakpoints" as breakpoint;

// =============================================================================
// FOOTER
// =============================================================================

.design-system {
  footer.site-footer {
    padding: $space-2xl 0;
    background: $color-dark-bg;
    color: $color-dark-text-muted;

    a {
      color: $color-dark-link;
      &:hover {
        color: $color-white;
      }
    }

    .container {
      @include flex-col($space-lg, center);
      text-align: center;

      @include breakpoint.up("md") {
        @include flex-between;
        flex-direction: row;
        text-align: left;
      }
    }

    nav {
      @include flex-row($space-lg);
      flex-wrap: wrap;
      justify-content: center;

      @include breakpoint.up("md") {
        justify-content: flex-start;
      }
    }
  }
}
