// FreeToBook Widget Dialog
// Uses shared dialog mixins

@use "breakpoints";
@use "mixins" as *;

.design-system {
  .freetobook {
    .iframe-container {
      @include card($padding: 0);
      iframe {
        border: none;
        width: 100%;
        height: 1000px;
      }
    }
  }
}
