@use "../variables" as *;
@use "../mixins" as *;

// =============================================================================
// GRID LAYOUTS
// =============================================================================

.design-system {
  .grid {
    @include grid(1, $space-lg);
    @include tablet-up {
      @include grid(2, $space-lg);
    }
    @include desktop-up {
      @include grid(3, $space-xl);
    }

    &--2 {
      @include grid(1, $space-lg);
      @include tablet-up {
        @include grid(2, $space-xl);
      }
    }

    &--4 {
      @include grid(2, $space-md);
      @include tablet-up {
        @include grid(4, $space-lg);
      }
    }
  }

  // Reset list styles when using grid classes on <ul> elements
  ul.grid,
  ul.grid--2,
  ul.grid--4 {
    list-style: none;
    padding-left: 0;
  }
}
